* {
    padding: 0;
    margin: 0;
}

#wrap-header {
    height: 140px;
    width: 1422px;
    background: url(../images/index/header.jpg) repeat-x;
}

#wrap-nav {
    height: 35px;
    width: 1422px;
    background: #000;
}


#about {
    height: 38px;
    background: #000;
    width: 1422px;
}

#wrap-footer {
    height: 128px;
    width: 100%;
    width: 1422px;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both
}

.clearfix {
    *zoom: 1
}


/*---------------------以上为通用样式-------------*/

.related img {
    width: 350px;
    height: 154px;
    display: block;
    margin: 0 auto;
}
.related img:hover{
	box-shadow: 0 0 10px 2px #000;
	}
.list-more a {
    display: block;
    float: right;
    width: 102px;
    height: 28px;
    border-radius: 20px;
    line-height: 28px;
    text-align: center;
    margin: 34px 14px 23px;
    border: 1px solid #000;
}

.head-r a {
    color: #666666;
}

body {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #666666;
}

#top_ad i {
    position: absolute;
    right: 168px;
    top: 0;
    color: #fff;
    margin-left: 540px;
    cursor: pointer
}

.header {
    width: 1198px;
    height: 28px;
    margin: 0 auto;
}

.header-t {
    height: 28px;
}

.header-l .log a {
    margin-left: 13px;
    line-height: 28px;
    color: #6e6666;
    font-size: 12px;
    float: left;
}

.header-l .cell-icon {
    background: url(../images/index/icon1.jpg) no-repeat left center;
    padding-left: 12px;
}

.header-l {
    overflow: hidden;
}

.head-r {
    padding-top: 7px;
    float: right;
}

.head-r .last {
    border-right: none;
}

.head-r li {
    float: left;
    padding: 0 18px;
    border-right: 1px solid #000;
}

ul,
ul li {
    list-style: none;
}

.header-b {
    height: 112px;
}

.logo-style {
    display: block;
    width: 200px;
    height: 86px;
    padding-top: 26px;
    margin-left: 10px;
    float: left;
}

.logo-style img {
    height: 60px;
    display: block;
}

.logo2 {
    float: left;
    width: 220px;
    height: 26px;
    background: url(../images/index/logo1.png) no-repeat;
    margin-top: 40px;
}

.txt {
    width: 439px;
    height: 35px;
    background: url(../images/index/search.jpg) no-repeat left center;
    border: 3px solid #e10482;
    text-indent: 18px;
    font-size: 10px;
}

input {
    float: left;
    border: none;
}

.tijiao {
    width: 100px;
    height: 41px;
    background: #e10482;
    clear: right;
}

.list li {
    float: left;
    padding: 0 4px;
    border-right: 1px solid #000;
    color: #979797;
}

.list .last {
    border-right: none;
}

.list {
    float: left;
    padding-top: 4px;
}

.search {
    overflow: hidden;
    padding-left: 74px;
    padding-top: 35px;
}

.navleft {
    float: left;
    /*    padding-left:36px;*/
}

.navleft a {
    float: left;
    font-size: 16px;
    color: white;
    /*    margin-right:49px;*/
    padding: 0 30px;
    line-height: 35px;
}

.navleft a:hover {
    background: #E4519E;
}

.nav {
    width: 1198px;
    margin: 0 auto;
    position: relative;
}

.navright {
    float: right;
}

.menubar a {
    color: aliceblue;
    display: block;
    width: 86px;
    /*    line-height:35px;*/
    /*    background:url(../images/index/menu-icon.png) no-repeat left center;*/
    height: 35px
}

.menubar a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}

.menubar span {
    display: inline-block;
    vertical-align: middle;
    text-indent: 4px;
}

.menubar em {
    width: 0;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.category {
    float: left;
    width: 180px;
    /*    height: 395px;*/
    background: #f6f6f6;
    opacity: 1;
    border-radius: 0 0 5px 5px;
    z-index: 10;
    position: relative;
}

.category ul li {
    width: 182px;
    text-indent: 28px;
    line-height: 49px;
    height: 49px;
    color: #000;
    font-size: 18px;
}

.category li i {
    margin-right: 15px;
}

.category ul li.cur {
    background: url(../images/index/menuhover.png) left bottom no-repeat;
    padding-right: 10px;
    color: #fff;
}

.selection1,
.selection2,
.selection3,
.selection4,
.selection5,
.selection6,
.selection7,
.selection8 {
    width: 542px;
    float: left;
    padding-left: 20px;
    background: white;
    border-radius: 0 0 5px 5px;
    display: none;
    z-index: 150;
}

.selection1 {
    display: block;
}

#goodslist {
    position: absolute;
    right: 0;
    top: 35px;
    display: none;
    z-index: 100;
}

.list-left {
    width: 230px;
    float: left;
    margin-right: 60px;
}

.list-right {
    width: 230px;
    float: left;
    padding-right: 20px;
}

.list-left h5,
.list-right h5 {
    height: 24px;
    border-bottom: 2px solid #000;
    padding-top: 16px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
}

.list-left h5 a,
.list-right h5 a {
    color: #000;
}

.catedetail {
    overflow: hidden;
}

.catedetail a {
    display: block;
    height: 14px;
    float: left;
    padding-top: 14px;
    margin-right: 16px;
}

.menubar {}

.lines {
    width: 510px;
    height: 20px;
    border-top: 1px solid #eee;
    clear: both;
    margin: 0 auto;
}

.header a:hover {
    color: #E4519E;
}

.list a:hover {
    color: #E4519E;
}


/*------------------以上为头部样式---------------------*/


/*banner样式*/



.about {
    width: 1204px;
    height: 38px;
    margin: 0 auto;
}

.h-call-num {
    position: relative;
    top: -3px;
    color: #E30385;
    font-size: 20px;
}

.h-call-em::before {
    content: "\e60d";
    color: #E30385;
    font-size: 30px;
}

.cellphone {
    width: 200px;
    height: 38px;
    line-height: 38px;
    float: left;
}

.info {
    width: 591px;
    height: 38px;
    float: right;
}

.info a {
    display: block;
    float: left;
    margin-left: 20px;
    line-height: 38px;
    color: aliceblue
}

.footer {
    width: 1204px;
    margin: 0 auto;
}

.footer p {
    height: 38px;
    padding-top: 20px;
    text-align: center;
    font-size: 10px;
    color: #9ca2b4;
}

.backup {
    height: 46px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 46px;
}

.backup a {
    height: 34px;
    display: inline-block;
    padding: 6px 24px;
}

.backup .line {
    display: inline-block;
    height: 50px;
    font-size: 40px;
    color: #eee;
    position: relative;
    top: -6px;
}